.app-card {
  border: 5px solid transparent;
  border-radius: 30px;
  background-color: #fff;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom, $color-primary, $color-text-secondary);
  background-clip: padding-box, border-box;
  background-origin: border-box;

  &--light {
    background-image: linear-gradient(white, white),
      linear-gradient(to bottom, rgba($color-primary, 50%), rgba($color-text-secondary, 50%));
  }
}
