.about-contact {
  padding-block: 42px 36px;

  @media (min-width: $width-tablet) {
    padding-block: 72px 66px;
  }
}

.about-contact__container {
  display: grid;
  gap: 24px;

  @media (min-width: $width-tablet-h) {
    align-items: center;
    grid-template-columns: 530px 1fr;
  }

  @media (min-width: $width-desktop) {
    align-items: end;
    justify-content: space-between;
    grid-template-columns: 530px 651px;
  }
}

.about-contact__left-column {
}

.about-contact__title {
  margin-bottom: 37px;
}

.about-contact__subtitle {
  margin-bottom: 49px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  color: $color-primary;

  @media (min-width: $width-tablet) {
    font-size: 32px;
    line-height: 39px;
  }
}

.about-contact__form {
}

.about-contact__image-wrap {
}
