.faq-section {
  margin-bottom: 60px;
}

.faq-section__container {
  display: grid;
  gap: 36px;

  @media (min-width: $width-desktop) {
    align-items: start;
    gap: 41px 100px;
    grid-template-columns: 650px 1fr;
  }
}

.faq-section__title {
  @media (min-width: $width-desktop) {
    grid-column: 1/-1;
  }
}

.faq-section__faq-right-column {
}

.faq-right-column {
}

.faq-right-column__image-wrap {
  margin-bottom: 36px;

  @media (min-width: $width-desktop) {
    margin-top: -30px;
    margin-bottom: 64px;
  }

  img {
    margin-inline: auto;
  }
}

.faq-right-column__title {
  margin-bottom: 28px;
  font-family: Copperplate, serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;

  @media (min-width: $width-tablet-h) {
    font-size: 36px;
  }
}

.faq-right-column__subtitle {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  color: $color-primary;

  @media (min-width: $width-tablet-h) {
    margin-bottom: 45px;
  }
}

.faq-right-column__form {
}

.faq-section__faq-left-column {
  // align-self: stretch;
  padding: 24px;
  padding-left: 10px;
  background: #f7f7f7;
  grid-row: 2/3;

  @media (min-width: $width-desktop) {
    padding-right: 87px;
    padding-block: 27px;
  }
}

.faq-parent {
  display: grid;
  align-content: start;
  align-items: start;
  gap: 24px;

  @media (min-width: $width-desktop) {
    gap: 35px;
  }

  .accordion {
    &.is-active {
      .accordion__button {
        transform: rotate(-90deg);
      }
    }
  }

  .accordion__head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    gap: 18px;
  }

  .accordion__title {
  }

  .accordion__button {
    display: inline-flex;
    align-items: center;
    flex: 0 0 auto;
    justify-content: center;
    border: 0;
    background-color: transparent;
    transition: transform 0.15s ease 0s;
  }

  .accordion__wrap {
    margin-top: 15px;
    margin-left: 32px;
    padding: 24px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    background: #fff;

    @media (min-width: $width-desktop) {
      padding: 30px 58px 24px 33px;
    }
  }
}
